body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    width: 100px;
    height: 35px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(136, 233, 136, 0.973);   
}

button:hover {
    background-color: rgba(127, 209, 127, 0.973);
}

#content {
    margin: 20px;
}

img {
    width: 100%;
    height: auto;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #41f250;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
}

#loading.display {
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


